:root {
    --bs-body-bg: white;
    --bs-primary: #A7BABF;
    --bs-secondary: black;
    --bs-tertiary-bg: #3D5055;
    --bs-content-bg:#f1f1f1;


}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    :focus {
        box-shadow: none !important;
        border: none;
    }
}


/* This part is for the curtain intro for the whole page */
.page-cover,
.curtain,
.page-cover::before,
.page-cover::after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 99999999999;
}

.curtain {
    height: 100vh;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(125, 156, 150, 1) 100%, rgba(0, 212, 255, 1) 100%);
    animation: dropCurtain 0.75s 0.30s ease-in-out forwards;
    transform-origin: bottom;

}

/* curtains is raised at three different intervals using delay to provde intended effect */
.page-cover::before {
    content: "";
    height: 100vh;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(0, 212, 255, 1) 100%);
    animation: dropCurtain 0.75s 0.40s ease-in-out forwards;
    transform-origin: bottom;
}

.page-cover::after {
    content: "";
    height: 100vh;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(167, 186, 191, 1) 100%, rgba(0, 212, 255, 1) 100%);
    animation: dropCurtain 0.75s 0.10s ease-in-out forwards;
    transform-origin: bottom;
}


/* animation for raising the curtain by changing scale in the Y direction */
@keyframes dropCurtain {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

/* skip link placed at the top of the site for accessibility hidden by deafult */
.skip-link {
    background-color: var(--bs-tertiary-bg);
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link a {
    color: var(--bs-body-bg);
    text-decoration: none;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
}





/* Custom styles for the full-screen dropdown menu */
body {
    background-color: var(--bs-body-bg);
    overflow-x: hidden;
}



li {
    padding: 2rem 2rem;
}

.about-img {
    max-width: 100%;
}

.navbar-nav li {
    font-size: 50px;
    text-transform: uppercase;
    color: var(--bs-secondary);
    border-bottom: 2px solid var(--bs-secondary);
    margin: 1rem;
}

.navbar-nav li:nth-child(1) {
    border-top: 2px solid var(--bs-secondary);
}


.nav-link {
    color: var(--bs-secondary);
    display: block;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-link:hover {
    color: var(--bs-body-bg);
    transition: ease-in 0.5s;
}

.nav-link:focus {
    color: var(--bs-body-bg);
}



.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999999999;
    padding: 2rem;

}

.navbar-nav {
    padding-top: 5rem;
    width: 100%;
    text-align: left;
    background-color: var(--bs-tertiary-bg);
    height: 100vh;
    overflow: hidden;

}

.navbar-collapse {

    position: fixed;
    top: 0;
    /* Adjust this value based on your navbar height */
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;

}

.navbar-toggler {
    z-index: 10000;
    border: none;
}


.navbar-toggler[aria-expanded=false] .button::after {
    content: "clear_all";
    font-family: "Material Icons";
    color: var(--bs-secondary);
    font-size: 50px;
}

.button::after {
    content: "close";
    font-family: "Material Icons";
    font-size: 50px;
    color: var(--bs-secondary);

}


/* This part target the home-header to add background image for the header section  */
.home-header {
    position: relative;
    background-color: white;
    background-image: url(../images/header-image.png);
    padding-top: 40rem;
    background-position: center;
    background-blend-mode: exclusion;
    background-size: cover;
    background-repeat: no-repeat;
}

/* stylinh for all h1 on the site */
h1 {

    font-family: "Modak", sans-serif;
    font-size: 150px;
    text-align: center;
    color: var(--bs-secondary);
    text-transform: uppercase;


}

/* fade in animation for the main header */
@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(calc(-50% + 100px));
    }

    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
    }
}

/* This styling only apply on the home page header */

.home-header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Modak", sans-serif;
    font-size: 150px;
    text-align: center;
    color: var(--bs-secondary);
    text-transform: uppercase;
    animation: fade-in-down 2s ease forwards;
}

/* header img  */
.home-header img {
    width: 50px;
    z-index: 1;
}

/* this style the logo svg */
.logo-img {
    mix-blend-mode: initial;
    width: 100px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}






/* this is for the text on main page that link to the about page */
.explore p {
    margin-top: 5rem;
    font-size: 20px;

    font-family: 'Inter', sans-serif;
}

.explore a {
    text-decoration: none;
    color: var(--bs-secondary);
    text-align: right;
    display: block;
    max-width: 500px;
    font-size: 18px;
}

/* This hover for the learn more link  */
.explore a:hover {
    color: var(--bs-primary);
}


/* This line is a style for the learn more link  */
.line {
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    width: 35px;
    margin-right: 10px;
    background-color: var(--bs-secondary);
}


.closeup-house {
    margin-top: 5rem;
    width: 100%;
}

.tower-img,
.pillar-img,
.statue-img {
    margin-top: 5rem;
    width: 300px;
}



.statue-img {
    margin-top: 5rem;
}

/* styling for all h2  */
.sub-heading h2 {
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    color: var(--bs-tertiary-bg);

}

/* display none to hide the carousel from the destop  */
.mobile-display {
    display: none;
}

/* about page styling  */

.about h1 {
    animation: about-fade 2s ease-in forwards;
}

/* animation for others page beside from main page  */
@keyframes about-fade {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
    }
}


/* styling for about paragraph */
main.about {
    margin-top: 250px;
}

.about p {

    max-width: 500px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.about-img {
    width: 550px;
}

/* education section styling  */
.education {
    margin-top: 5rem;
    padding-top: 2rem;
    border-top: 2px solid var(--bs-secondary);

}

.education p {
    text-transform: capitalize;
}

.edu-info {
    margin: 0 auto;
    margin-top: 10rem;
    max-width: 1200px;
}

.first-text {
    font-weight: 700;
}

/* skills section styling */
.skills {
    margin-bottom: 5rem;
    padding-top: 5rem;
}

.skills h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: var(--bs-tertiary-bg);
}

.square {
    width: 100%;
}

/* this styling is for the text on the images */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: var(--bs-secondary);


}

.centered:hover{
    color: var(--bs-content-bg);
}

/* contact page styling */

.shoes-img {

    width: 100%;
    margin-left: 5rem;
}

/* This is the overlay text styling on the contact page */

.overlay h2 {
    margin-top: 5rem;
    font-size: 100px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
}

.contact-box {
    padding-top: 5rem;
}

.contact-text h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: var(--bs-tertiary-bg);
}

form {
    margin: 1rem;
    padding-bottom: 5rem;
    padding-top: 4rem;
}

/* this is the styling for input field */
input[type=text],
input[type=email] {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--bs-secondary);
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


/* This animation add to the submit button  */
.submit {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.submit button {

    color: var(--bs-primary);
    font-size: 14px;
    border: 0.3em solid #A7BABF;
    border-radius: 0.5em;
    width: 8em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 2em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;

}

/* hover styling for the submit button  */
.submit button span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--bs-primary);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.submit button:hover {
    color: var(--bs-body-bg);
}

.submit button:hover span {
    transform: translateY(0) scale(2);
}

.submit button span:nth-child(1) {
    --n: 1;
}

.submit button span:nth-child(2) {
    --n: 2;
}

.submit button span:nth-child(3) {
    --n: 3;
}

.submit button span:nth-child(4) {
    --n: 4;
}



/* this is the styling for the footer  */
.bg-blue {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--bs-primary);
    padding: 3rem;
    padding-bottom: 6rem;
}

.bg-blue a {

    text-decoration: none;
    color: var(--bs-secondary);
    margin-left: 1rem;
    border-left: 2px solid var(--bs-secondary);
    padding-left: 1rem;
}

.bg-blue a:nth-of-type(1) {
    border: none;
}

i {
    padding-right: 1rem;
}

.skills-img {
    max-width: 100%;
}


/* This is the styling for the back to top button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 5rem;
    border: 2px solid;
    border-radius: 50%;
    padding: 0.3rem 0.5rem;
    background-color: var(--bs-secondary);

}

#myBtn span {
    font-size: 2rem;
    color: var(--bs-body-bg);

}

#myBtn:hover span {
    font-size: 2rem;
    color: var(--bs-tertiary-bg);
}

#myBtn:hover {
    background-color: var(--bs-body-bg);
}


.wide{
    max-width:100% ;
}

.subhead-and-des h3{
  padding-left: 1rem;
  padding-top: 5em;
  padding-bottom: 1em;
  font-size:25px;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  margin: 1rem;
}

.section-paragraph p,
.menu-p,
.poster-p,
.movie-p,
.photoshop-p{
    margin:2rem;
    font-size:large;
    font-family: 'Inter', sans-serif;
}

/* ***************************************** */
.container-branding {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "text image1 image2"
        "text image3 image4"
        ". . ."
        ". . .";
}

.image1-branding {
    grid-area: image1;

}

.text-branding {
    grid-area: text;
    margin: 2rem;
    margin-bottom: 0;
   
}

.image2-branding {
    grid-area: image2;
  
}

.image3-branding {
    grid-area: image3;

}

.image4-branding {
    grid-area: image4;
 
}

.container-branding2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "image5-branding text5-branding ."
        ". . ."
        ". . ."
        ". . .";
}

.image5-branding {
    grid-area: image5-branding;
   
    padding: 2rem;
}

.text5-branding {
    grid-area: text5-branding;
    padding: 2rem;
    align-self: center;
}



.wide-image1{
margin: 0;
max-width:100%;
}

.image6-branding{
    margin-bottom: 2rem
}

.container3-branding {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    padding: 2rem;
    grid-template-areas:
      "text7-branding image7-branding";
  }
  
  .text7-branding { 
    align-self: center;
    grid-area: text7-branding;
   
   }
  
  .image7-branding { 

    grid-area: image7-branding; 
margin-right: 2em;}
  


  


/* media queries tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

  
     /* This is the adjusment for the nav bar in tablet */
    .navbar-nav {
        padding-top: 10rem;

    }

    a.nav-link {
        font-size: 30px;
    }


    main.about {
        margin-top: 250px;
    }

    /* resizing the h1 and h2 for tablet */
    .home-header h1 {
        font-size: 80px;
        text-align: center;

    }


    .sub-heading h2 {
        font-size: 60px;
        text-transform: uppercase;

    }
    /* ************************************* */


    .explore a {

        max-width: 600px;
        font-size: 15px;
    }


    .closeup-house {
        margin-top: 5rem;
        width: 100%;
    }

    .explore p {

        font-size: 13px;
        max-width: 700px;
        font-family: 'Inter', sans-serif;
    }

    .tower-img,
    .statue-img,
    .pillar-img {

        width: 200px;
    }


    /* about page styling for tablet */

    .about h1 {
        font-size: 80px;
    }

    .about-img {
        margin-top: 2rem;
        width: 350px;
    }

    .about p {
        margin-top: 2rem;
        max-width: 800px;
        font-size: 16px;
    }

    .skills h2 {
        font-size: 40px;
        font-weight: 400;
    }

    .square {
        max-width: 100%;
    }

    .education p {
        font-size: 15px;
    }

    .centered {
        font-size: 25px;
        max-width: fit-content;

    }


    /* contact page styling for tablet */

    .shoes-img {
        width: 100%;

    }

    .overlay h2 {
        font-size: 60px;
    }



    .contact-text h2 {
        text-align: center;
        font-size: 50px;

    }

    input[type=text],
    input[type=email] {
        background: transparent;
        border: none;
        border-bottom: 1px solid var(--bs-secondary);

        margin-top: 1rem;
        margin-bottom: 2rem;
    }



}

/* media queries mobile */
@media only screen and (max-width: 767px) {


  /* This is the adjusment for the nav bar in mobile */
    .navbar-nav {
        padding-top: 6rem;

    }

    /* home page styling for mobile */
    .navbar-nav a {
        font-size: 35px;
        text-align: center;


    }

 /* display none for the grid in desktop  */
    .desktop-display {
        display: none;
    }

    /* display block for the carousel to display on mobile only  */
    .mobile-display {
        display: block;

        margin: 2rem;
    }


    .no-filter {
        mix-blend-mode: normal;
    }

    .home-header {

        padding-top: 30rem;

    }

    .logo-img {
        width: 70px;
    }


    .home-header h1 {
        font-size: 50px;
        text-align: center;

    }

    .closeup-house {
        margin-top: 1rem;

    }

    .explore p {
        margin-top: 2rem;
        font-size: 14px;
        max-width: 400px;


    }

    .explore a {
        padding-right: 4rem;
        font-size: 14px;
    }

    /* carousel h2 styling  */

    .mobile-display h2 {
        margin-top: 5rem;
        text-transform: uppercase;
        font-size: 30px;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 1000;
        color: var(--bs-tertiary-bg);
        text-align: center;
        margin-bottom: 5rem;
    }


    /* about page styling for mobile */


    .about h1 {
        font-size: 60px;
    }

    .about-img {
        width: 300px;

    }

    .about p {
        margin-top: 2rem;
        font-size: 16px;
    }





    .edu-info {
        margin-top: -5rem;
        padding: 2rem;
    }


    .carousel-control-prev,
    .carousel-control-next {
        transform: translateY(50px);

    }

    .skills h2 {
        font-size: 37px;
        padding-left: 2rem;
        font-weight: bolder;
    }

    .square {
        max-width: 100%;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 1.5rem;

    }


    .education p {
        font-size: 15px;
    }

    .centered {
        font-size: 30px;
        padding-left: 1rem;

    }

    /* contact page styling mobile */

    .shoes-img {
     
        margin-left: 0;

    }

    .overlay h2 {
        margin-top: 0;
        font-size: 50px;
        margin-left: 2rem;


    }

    .contact-text h2 {

        font-size: 40px;
        font-weight: bolder;
        text-align: center;
    }

    form {
        padding-left: 1rem;
    }


    input[type=text],
    input[type=email] {


        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    label {
        font-size: 15px;
    }




 /* target to style the footer for mobile  */
    .bg-blue {
        flex-direction: column;
        text-align: right;
        gap: 1rem;



    }


    .bg-blue a {
        border: none;
    }


/* spacing the back to top button to align more on the left */
    #myBtn {
        bottom: 1rem;
        right: 2rem;

    }


    /* ************smaller subheading***** */

    .subhead-and-des h3{
        font-size:20px;
     padding-bottom: 0;
      }
/* ***************change the grid to only one row*********** */
 
    .container-branding {  display: grid;
        grid-template-columns: 1fr;
       
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "text-branding"
          "image1-branding"
          "image2-branding"
          "image3-branding"
          "image4-branding";
      }
      
      .image1-branding {grid-area: image1-branding;}
      
      .image2-branding {grid-area: image2-branding;}
      
      .image3-branding {grid-area: image3-branding;}
      
      .image4-branding {grid-area: image4-branding;}
      
      .text-branding { grid-area: text-branding;} 
      
      
      .container-branding2 {
        display: grid;
        grid-template-columns: 1fr;

        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "image5-branding"
          "text5-branding";
    }

    .image5-branding { grid-area: image5-branding; }
      
    .text5-branding { grid-area: text5-branding; }


   
    .container3-branding {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "image7-branding"
          "text7-branding";
      }
      
      .image7-branding { grid-area: image7-branding; }
      
      .text7-branding { grid-area: text7-branding; }
      
      

}






