:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-primary-text-emphasis: #052c65;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: #055160;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #e2e3e5;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-info-bg-subtle: #cff4fc;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #9ec5fe;
    --bs-secondary-border-subtle: #c4c8cb;
    --bs-success-border-subtle: #a3cfbb;
    --bs-info-border-subtle: #9eeaf9;
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0, 0, 0;
    --bs-secondary-color: rgba(33, 37, 41, 0.75);
    --bs-secondary-color-rgb: 33, 37, 41;
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-bg-rgb: 233, 236, 239;
    --bs-tertiary-color: rgba(33, 37, 41, 0.5);
    --bs-tertiary-color-rgb: 33, 37, 41;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248, 249, 250;
    --bs-heading-color: inherit;
    --bs-link-color: #0d6efd;
    --bs-link-color-rgb: 13, 110, 253;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #0a58ca;
    --bs-link-hover-color-rgb: 10, 88, 202;
    --bs-code-color: #d63384;
    --bs-highlight-color: #212529;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-focus-ring-width: 0.25rem;
    --bs-focus-ring-opacity: 0.25;
    --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
    --bs-form-valid-color: #198754;
    --bs-form-valid-border-color: #198754;
    --bs-form-invalid-color: #dc3545;
    --bs-form-invalid-border-color: #dc3545;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    :focus {
        box-shadow: none !important;
        border: none;
    }
}

.page-cover,
.curtain,
.page-cover::before,
.page-cover::after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 99999999999;
}

.curtain {
    height: 100vh;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(125, 156, 150, 1) 100%, rgba(0, 212, 255, 1) 100%);
    animation: dropCurtain 0.75s 0.30s ease-in-out forwards;
    transform-origin: bottom;

}

/* curtains is raised at three different intervals using delay to provde intended effect */
.page-cover::before {
    content: "";
    height: 100vh;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(0, 212, 255, 1) 100%);
    animation: dropCurtain 0.75s 0.40s ease-in-out forwards;
    transform-origin: bottom;
}

.page-cover::after {
    content: "";
    height: 100vh;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(167, 186, 191, 1) 100%, rgba(0, 212, 255, 1) 100%);
    animation: dropCurtain 0.75s 0.10s ease-in-out forwards;
    transform-origin: bottom;
}


/* animation for raising the curtain by changing scale in the Y direction */
@keyframes dropCurtain {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

/* skip link placed at the top of the site for accessibility hidden by deafult */
.skip-link {
    background-color: #494F4E;
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link a {
    color: white;
    text-decoration: none;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
}





/* Custom styles for the full-screen dropdown menu */
body {

    overflow-x: hidden;
}



li {
    padding: 2rem 2rem;
}

.about-img {
    max-width: 100%;
}

.navbar-nav li {
    font-size: 50px;
    text-transform: uppercase;
    color: black;
    border-bottom: 2px solid black;
    margin: 1rem;
}

.navbar-nav li:nth-child(1) {
    border-top: 2px solid black;
}


.nav-link {
    color: black;
    display: block;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999999999;
    padding: 2rem;

}

.navbar-nav {
    padding-top: 5rem;
    width: 100%;
    text-align: left;
    background-color: #3D5055;
    height: 100vh;
    overflow: hidden;

}

.navbar-collapse {

    position: fixed;
    top: 0;
    /* Adjust this value based on your navbar height */
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;

}

.navbar-toggler {
    z-index: 10000;
    border: none;
}


.navbar-toggler[aria-expanded=false] .button::after {
    content: "clear_all";
    font-family: "Material Icons";
    color: black;
    font-size: 50px;
}

.button::after {
    content: "close";
    font-family: "Material Icons";
    font-size: 50px;
    color: black;

}



.home-header {
    position: relative;
    background-color: white;
    background-image: url(../images/header-image.png);
    padding-top: 40rem;
    background-position: center;
    background-blend-mode: exclusion;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {

    font-family: "Modak", sans-serif;
    font-size: 150px;
    text-align: center;
    color: black;
    text-transform: uppercase;


}

/* fade in animation for the header */
@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(calc(-50% + 100px));
    }

    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
    }
}

.home-header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Modak", sans-serif;
    font-size: 150px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    animation: fade-in-down 2s ease forwards;
}

/* header img  */
.home-header img {
    width: 50px;
    z-index: 1;
}


.logo-img {
    mix-blend-mode: initial;
    width: 100px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

/* apply exclusion effect to all img  */





.explore p {
    margin-top: 5rem;
    font-size: 20px;
   
    font-family: 'Inter', sans-serif;
}

.explore a {
    text-decoration: none;
    color: black;
    text-align: right;
    display: block;
    max-width: 500px;
    font-size: 18px;
}

.explore a:hover {
    color: #A7BABF;
}



.line {
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    width: 35px;
    margin-right: 10px;
    background-color: black;
}

.closeup-house {
    margin-top: 5rem;
    width: 100%;
}

.tower-img,
.pillar-img,
.statue-img {
    margin-top: 5rem;
    width: 300px;
}



.statue-img {
    margin-top: 5rem;
}

.sub-heading h2 {
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    color: #3D5055;

}

.mobile-display {
    display: none;
}

/* about page styling  */

.about h1 {
    animation: about-fade 2s ease-in forwards;
}

@keyframes about-fade {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
    }
}

main.about {
    margin-top: 250px;
}

.about p {

    max-width: 500px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.about-img {
    width: 550px;
}


.education {
    margin-top: 5rem;
    padding-top: 2rem;
    border-top: 2px solid black;

}

.education p {
    text-transform: capitalize;
}

.edu-info {
    margin: 0 auto;
    margin-top: 10rem;
    max-width: 1200px;
}

.first-text {
    font-weight: 700;
}

.skills {
    margin-bottom: 5rem;
    padding-top: 5rem;
}

.skills h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #3D5055;
}

.square {
    width: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: black;


}

/* contact page styling */

.shoes-img {

    width: 100%;
    margin-left: 5rem;
}

.overlay h2 {
    margin-top: 5rem;
    font-size: 100px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
}

.contact-box {
    padding-top: 5rem;
}

.contact-text h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #3D5055;
}

form {
    margin: 1rem;
    padding-bottom: 5rem;
    padding-top: 4rem;
}

input[type=text],
input[type=email] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    width: 1100px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}



.submit {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.submit button {

    color: #A7BABF;
    font-size: 14px;
    border: 0.3em solid #A7BABF;
    border-radius: 0.5em;
    width: 8em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 2em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;

}

/* hover styling for the submit button  */
.submit button span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #A7BABF;
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.submit button:hover {
    color: white;
}

.submit button:hover span {
    transform: translateY(0) scale(2);
}

.submit button span:nth-child(1) {
    --n: 1;
}

.submit button span:nth-child(2) {
    --n: 2;
}

.submit button span:nth-child(3) {
    --n: 3;
}

.submit button span:nth-child(4) {
    --n: 4;
}




.bg-blue {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #A7BABF;
    padding: 3rem;
    padding-bottom: 6rem;
}

.bg-blue a {

    text-decoration: none;
    color: black;
    margin-left: 1rem;
    border-left: 2px solid black;
    padding-left: 1rem;
}

.bg-blue a:nth-of-type(1) {
    border: none;
}

i {
    padding-right: 1rem;
}

.skills-img {
    max-width: 100%;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 5rem;
    border: 2px solid;
    border-radius: 50%;
    padding: 0.3rem 0.5rem;
    background-color: black;

}

#myBtn span {
    font-size: 2rem;
    color: white;

}

#myBtn:hover span {
    font-size: 2rem;
    color: #3D5055;
}

#myBtn:hover {
    background-color: white;
}



/* media queries tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {


    .navbar-nav {
        padding-top: 10rem;

    }

    a.nav-link {
        font-size: 30px;
    }


    main.about {
        margin-top: 250px;
    }

    .home-header h1 {
        font-size: 80px;
        text-align: center;

    }


    .sub-heading h2 {
        font-size: 60px;
        text-transform: uppercase;

    }

    .explore a {

        max-width: 600px;
        font-size: 15px;
    }


    .closeup-house {
        margin-top: 5rem;
        width: 100%;
    }

    .explore p {

        font-size: 13px;
        max-width: 700px;
        font-family: 'Inter', sans-serif;
    }

    .tower-img,
    .statue-img,
    .pillar-img {

        width: 200px;
    }


    /* about page styling for tablet */

    .about h1 {
        font-size: 80px;
    }

    .about-img {
        margin-top: 2rem;
        width: 350px;
    }

    .about p {
        margin-top: 2rem;
        max-width: 800px;
        font-size: 15px;
    }

    .skills h2 {
        font-size: 40px;
        font-weight: 400;
    }

    .square {
        max-width: 100%;
    }

    .education p {
        font-size: 15px;
    }

    .centered {
        font-size: 25px;
        max-width: fit-content;

    }


    /* contact page styling for tablet */

    .shoes-img {
        width: 100%;

    }

    .overlay h2 {
        font-size: 60px;
    }



    .contact-text h2 {

        font-size: 50px;
        color: #3D5055;
    }

    input[type=text],
    input[type=email] {
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
        width: 680px;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }



}

/* media queries mobile */
@media only screen and (max-width: 767px)  {



    .navbar-nav {
        padding-top: 6rem;

    }

    /* home page styling for mobile */
    .navbar-nav a {
        font-size: 35px;
        text-align: center;


    }


    .desktop-display {
        display: none;
    }

    .mobile-display {
        display: block;

        margin: 2rem;
    }


    .no-filter {
        mix-blend-mode: normal;
    }

    .home-header {

        padding-top: 30rem;

    }

    .logo-img {
        width: 70px;
    }


    .home-header h1 {
        font-size: 50px;
        text-align: center;

    }

    .closeup-house {
        margin-top: 1rem;
      
    }

    .explore p {
        margin-top: 2rem;
        font-size: 14px;
        max-width: 400px;


    }

    .explore a {
        padding-right: 4rem;
        font-size: 14px;
    }

    .mobile-display h2 {
        margin-top: 5rem;
        text-transform: uppercase;
        font-size: 30px;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 1000;
        color: #3D5055;
        text-align: center;
        margin-bottom: 5rem;
    }


    /* about page styling for mobile */


    .about h1 {
        font-size: 60px;
    }

    .about-img {
        width: 300px;

    }

    .about p {
        margin-top: 2rem;
        font-size: 12px;
    }

    /* .about .container {
        padding-left: 0;
    } */



    .edu-info {
        margin-top: -5rem;
        padding: 2rem;
    }


    .carousel-control-prev,
    .carousel-control-next {
        transform: translateY(50px);

    }

    .skills h2 {
        font-size: 37px;
        padding-left: 2rem;
        font-weight: bolder;
    }

    .square {
        max-width: 100%;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 1.5rem;

    }


    .education p {
        font-size: 15px;
    }

    .centered {
        font-size: 30px;
        padding-left: 1rem;

    }

    /* contact page styling mobile */

    .shoes-img {
        width: 300px;
        margin-left: 2rem;

    }

    .overlay h2 {
        margin-top: 0;
        font-size: 50px;
        margin-left: 2rem;


    }

    .contact-text h2 {
        padding-left: 5.5rem;
        font-size: 40px;
        font-weight: bolder;

    }

    form {
        padding-left: 1rem;
    }


    input[type=text],
    input[type=email] {

        width: 320px;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    label {
        font-size: 15px;
    }










    .bg-blue {
        flex-direction: column;
        text-align: right;
        gap: 1rem;



    }


    .bg-blue a {
        border: none;
    }



    #myBtn {
        bottom: 1rem;
        right: 2rem;

    }


}